<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Tumblmathing</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../grouter/grouter.js"></script>
  <script type="text/javascript" src="../sjt/jquery.sjt.js"></script>
  </head>
  <script type="text/javascript">
    
    Route("/about/:blog", function(params){
      Tmbl.rblgs(params['blog']);  
    });
    
    Route("/search", function(){
      $.sjt.render(Templates.search, {}, $("#body"));
    })
        
    $(function() {
      // hack to reapply events after we rip away 
      function applyEvents(){
        $("#search").submit(function(){
          Router.goTo("/about/" + $("#q").attr("value"));
          applyEvents();
          return false;
        });
        
        $("h1 a").click(function(){
          Router.goTo("/search");
          applyEvents();
          return false;
        });
      }
      Router.route();
      applyEvents();
      
    })
    
    Templates = {
      search :'<form id="search" method="get">\
              <input name="q" id="q" value="" />\
              <label>.tumblr.com</label>\
              </form>',
      reblog : '<h2 id="tumblr-title">\
                <%= data.tumblog %></h2>\
                <h3>Reblogs</h3>\
                <ul id="reblogged-by">\
                <% for(x = 0; x < data.length; x++){ %>\
                  <li>\
                    <h4><%= data[x].title  %></h4>\
                    <a href="<%= data[x].url %>"><%= data[x].url %></a>\
                  </li>\
                <% } %>\
                </ul>'
    }
      
    GResult = function(resultData){
      this.title = resultData.title;
      this.url = resultData.unescapedUrl;
      this.domain = resultData.visibleUrl;
    }
    
    Tmbl = {
      rblgs : function(tumblog){
        Tmbl.ggle.reblogQuery(tumblog, function(data){
          data.tumblog = tumblog;
          this.data = data;
          $.sjt.render(Templates.reblog, data, $("#body"));

          return false;
        })
      },
      
      ggle : {
        results : [],
        expectedPages : 0,
        maxPages : 25,
        processSearchResultsPage : function(data){
          for (i = 0; i < data.responseData.results.length; i++){
            Tmbl.ggle.results.push(new GResult(data.responseData.results[i]));          
          }
        },
        
        reblogQuery : function(subdomain, callback){
          var q = Tmbl.ggle.composeReblogQuery(subdomain);
          Tmbl.ggle.queryGoogle(q, 0, callback);
          
          // Tmbl.ggle.queryGoogle(Tmbl.ggle.composeReblogQuery(subdomain), function(data){
          //             callback(Tmbl.ggle.processSearchResults(data));
          //           });
        },
        
        composeReblogQuery : function(subdomain){
          return "site%3Atumblr.com+-site%3A"+subdomain+".tumblr.com+"+subdomain;
        },
        
        queryGoogle : function(q, p, callback){
          
          var currentPage = p
          var rootUrl = "http://ajax.googleapis.com/ajax/services/search/web?v=1.0&start="+p+"&q=";
          $.getJSON(rootUrl + q + "&callback=?",function(data){
            console.log(data);
            Tmbl.ggle.expectedPages = Math.ceil(data.responseData.cursor.estimatedResultCount / 4);
            Tmbl.ggle.processSearchResultsPage(data);
            if((currentPage + 1 < Tmbl.ggle.expectedPages) && (currentPage + 1 < Tmbl.ggle.maxPages)){
              Tmbl.ggle.queryGoogle(q, (currentPage + 1), callback);
            }
            else{
              callback(Tmbl.ggle.results);
              Tmbl.ggle.results = [];
              Tmbl.ggle.expectedPages = 0;
            }
            return false;
          });
          return false;
        }
      }
    }
    
  </script>
  <body>
    <div id="header">
      <h1><a href="">Tumblmathing</a></h1>
    </div>
    <div id="body">
    </div>
  </body>
</html>
